<div class="jumbotron" style="padding-top: 12px; padding-bottom: 12px; color: slategray">
    <h3>{{title}}</h3>
  </div>
  <div class="container" class="site-font">
    <div class="row">
      <div class="col-md-8">
          <h2>Exercises</h2>
          <ul style="list-style: none">
            <li>
              <a routerLink="/ex2a">
                <i class="material-icons">account_box</i> Exercise 2A: Country
              </a>
            </li>
            <li>
              <a routerLink="/ex2b">
                <i class="material-icons">account_box</i> Exercise 2B: Country (using service)
              </a>
            </li>
            <li>
              <a routerLink="/ex2c">
                <i class="material-icons">account_box</i> Exercise 2C: StateProvince (using service)
              </a>
            </li>
            <li>
              <a routerLink="/ex2d">
                <i class="material-icons">account_box</i> Exercise 2D: Countries
              </a>
            </li>
            <li>
              <a routerLink="/ex2e">
                <i class="material-icons">account_box</i> Exercise 2E: Countries
              </a>
            </li>
            <li>
              <a routerLink="/ex2f">
                <i class="material-icons">account_box</i> Exercise 2F: Countries
              </a>
            </li>
            <li>
              <a routerLink="/ex3a">
                <i class="material-icons">account_box</i> Exercise 3A: Countries
              </a>
            </li>
            <li>
              <a routerLink="/ex3b1">
                <i class="material-icons">account_box</i> Exercise 3B: Regions
              </a>
            </li>
            <li>
              <a routerLink="/samp0/samp1">
                <i class="material-icons">account_box</i> Samp0
              </a>
            </li>
            <!-- <li>
              <a routerLink="/samp2">
                <i class="material-icons">account_box</i> Samp2
              </a>
            </li> -->
          </ul>
      </div>
      <div class="col-md-4">
        <h2>Features:</h2>
        <ul>
            <li>Angular 13</li>
            <li>TypeScript 4.5.2</li>
            <li>BootStrap 5</li>
            <li>Angular Material 13 Components</li>
        </ul>  
      </div>
    </div>
  </div>
  