<mat-toolbar color="primary">
    <button mat-button style="font-size: 18px" routerLink="/">
      <mat-icon>home</mat-icon> COMC-2749: Angular 13
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/ex2a">
        <mat-icon>account_box</mat-icon>
        <span> Exercise 2A Country</span>
      </button>
      <button mat-menu-item routerLink="/ex2b">
        <mat-icon>account_box</mat-icon>
        <span> Exercise 2B Country</span>
      </button>
      <button mat-menu-item routerLink="/ex2c">
        <mat-icon>account_box</mat-icon>
        <span> Exercise 2C States</span>
      </button>
      <!-- <button mat-menu-item routerLink="/todo">
        <mat-icon>account_box</mat-icon>
        <span> Exercise 2A: Todo sample</span>
      </button> -->
    </mat-menu>


    