
<mat-card>
<mat-card-content *ngIf="this.country"> 
    <form class="form-width">
        <mat-form-field class = "full-width">
            <input matInput placeholder="Country ID" 
            [formControl]="countryIdInput" 
            required type="number">
            <mat-error *ngIf="countryIdInput.invalid">Enter country ID</mat-error>
        </mat-form-field>
        <mat-form-field class = "full-width">
            <input matInput placeholder="Country name" 
            [formControl]="countryNameInput" 
            required minlength="3" maxlength="40">
            <mat-error *ngIf="countryNameInput.invalid">Enter country name 3 - 40 characters/mat-error></mat-error>
        </mat-form-field>
        <mat-form-field class = "full-width">
            <input matInput placeholder="Country formal name" 
            [formControl]="formalNameInput" 
            required minlength="3" maxlength="40">
            <mat-error *ngIf="formalNameInput.invalid">Enter formal name: 3-40 characters</mat-error>
        </mat-form-field>
            <mat-form-field class = "full-width">
            <input matInput placeholder="3 Letter Code" 
            [formControl]="isoAlpha3CodeInput" 
            required minlength="3" maxlength="40">
            <mat-error *ngIf="isoAlpha3CodeInput.invalid">Enter 3 letter code: 3-40 characters</mat-error>
        </mat-form-field>
        <mat-form-field class = "full-width">
            <input matInput placeholder="Population" 
            [formControl]="latestRecordedPopulationInput" 
            required type="number">
            <mat-error *ngIf="latestRecordedPopulationInput.invalid">Enter population</mat-error>
        </mat-form-field>
    </form>
</mat-card-content>

<mat-card-actions *ngIf="this.country.countryId!=99999">
<!-- <button mat-button (click)="getPreviousButtonClick()" [disabled]="this.index == 0 || this.creatingNew"><mat-icon>arrow_back</mat-icon></button>
<button mat-button (click)="getNextButtonClick()"     [disabled]="this.index == this.lastIndex || this.creatingNew"><mat-icon>arrow_forward</mat-icon></button> -->
<button mat-button (click)="saveButtonClick()"        ><mat-icon>save</mat-icon></button>
<button mat-button (click)="createNewButtonClick()"   [disabled]="this.creatingNew"> <mat-icon>Add</mat-icon>New</button>
<button mat-button (click)="cancelButtonClick()"      [disabled]="!this.creatingNew"> <mat-icon>cancel</mat-icon></button>
<button mat-button (click)="deleteButtonClick()"      [disabled]="this.creatingNew"> <mat-icon>delete</mat-icon></button>
</mat-card-actions>
</mat-card>

